.status-bar {
    display: flex;
    justify-content: flex-end;
}

.status-bar__column {
    padding: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    padding-right: 5px;
}

.status-bar__column a {
    text-decoration: none;
    color: inherit;
}

.status-bar__column i:first-child {
    margin-right: 8px;
}

.status-bar__column i:last-child {
    margin-left: 8px;
}