.status-bar {
    display: flex;
    justify-content: flex-end;
}

.status-bar__column {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.status-bar__column a {
    text-decoration: none;
    color: inherit;
}

.status-bar__column:first-child {
    padding-right: 14px;
    margin-right: 17px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.status-bar__column i {
    padding-right: 5px;
}

.status-bar__column i:last-child {
    margin-left: 8px;
}