#login-form {
    display: flex;
    flex-direction: column;
}

.login-form__column {
    margin: 0 100px;
    height: 33px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.4);
}

.login-form__column::placeholder {
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.4);
}

.login {
    margin-top: 4px;
}

.first-header__checkbox {
    margin-left: 96px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.first-header__checkbox i {
    color: rgba(0, 0, 0, 0.5);
}

.footer {
    padding-top: 150px;
    text-align: center;
}

.footer__column {
    font-size: 12px;
}

.footer__column a {
    text-decoration: none;
    color: inherit;
    color: rgba(0, 0, 0, 0.55);
}

.footer__column-id {
    padding-right: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__column-password {
    padding-left: 12px;
}